<%= form_for(@shipping_company_top_offer) do |f| %>
  <% if @shipping_company_top_offer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@shipping_company_top_offer.errors.count, "error") %> prohibited this shipping_company_top_offer from being saved:</h2>

      <ul>
      <% @shipping_company_top_offer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title_headline %><br />
    <%= f.text_field :title_headline %>
  </div>
  <div class="field">
    <%= f.label :title_offer %><br />
    <%= f.text_field :title_offer %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :duration %><br />
    <%= f.text_field :duration %>
  </div>
  <div class="field">
    <%= f.label :price %><br />
    <%= f.text_field :price %>
  </div>
  <div class="field">
    <%= f.label :link_to_more_info %><br />
    <%= f.text_field :link_to_more_info %>
  </div>
  <div class="field">
    <%= f.label :offer_active_from %><br />
    <%= f.date_select :offer_active_from %>
  </div>
  <div class="field">
    <%= f.label :offer_active_until %><br />
    <%= f.date_select :offer_active_until %>
  </div>
  <div class="field">
    <%= f.label :offer_valid_from %><br />
    <%= f.date_select :offer_valid_from %>
  </div>
  <div class="field">
    <%= f.label :offer_valid_until %><br />
    <%= f.date_select :offer_valid_until %>
  </div>
  <div class="field">
    <%= f.label :is_main_offer %><br />
    <%= f.text_field :is_main_offer %>
  </div>
  <div class="field">
    <%= f.label :shipping_company_id %><br />
    <%= f.number_field :shipping_company_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
