<h1>Listing areas</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Cruise type</th>
    <th>Region</th>
    <th>Zid</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @areas.each do |area| %>
  <tr>
    <td><%= area.name %></td>
    <td><%= area.cruise_type_id %></td>
    <td><%= area.region_id %></td>
    <td><%= area.zid %></td>
    <td><%= link_to 'Show', area %></td>
    <td><%= link_to 'Edit', edit_area_path(area) %></td>
    <td><%= link_to 'Destroy', area, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Area', new_area_path %>
