<h1>Listing top_offers</h1>

<table>
  <tr>
    <th>Title Headline</th>
    <th>Title Offer</th>
    <th>Description</th>
    <th>Duration</th>
    <th>Price</th>
    <th>Link to more info</th>
    <th>Offer active from</th>
    <th>Offer active until</th>
    <th>Offer valid from</th>
    <th>Offer valid until</th>
    <th>Shipping company</th>
    <th>Ship</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @top_offers.each do |top_offer| %>
  <tr>
    <td><%= top_offer.title_headline %></td>
    <td><%= top_offer.title_offer %></td>
    <td><%= top_offer.description %></td>
    <td><%= top_offer.duration %></td>
    <td><%= top_offer.price %></td>
    <td><%= top_offer.link_to_more_info %></td>
    <td><%= top_offer.offer_active_from %></td>
    <td><%= top_offer.offer_active_until %></td>
    <td><%= top_offer.offer_valid_from %></td>
    <td><%= top_offer.offer_valid_until %></td>
    <td><%= top_offer.shipping_company_id %></td>
    <td><%= top_offer.ship_id %></td>
    <td><%= link_to 'Show', top_offer %></td>
    <td><%= link_to 'Edit', edit_top_offer_path(top_offer) %></td>
    <td><%= link_to 'Destroy', top_offer, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Top offer', new_top_offer_path %>
