<p id="notice"><%= notice %></p>

<p>
  <b>Title Headline:</b>
  <%= @top_offer.title_headline %>
</p>

<p>
  <b>Title Offer:</b>
  <%= @top_offer.title_offer %>
</p>

<p>
  <b>Description:</b>
  <%= @top_offer.description %>
</p>

<p>
  <b>Duration:</b>
  <%= @top_offer.duration %>
</p>

<p>
  <b>Price:</b>
  <%= @top_offer.price %>
</p>

<p>
  <b>Link to more info:</b>
  <%= @top_offer.link_to_more_info %>
</p>

<p>
  <b>Offer active from:</b>
  <%= @top_offer.offer_active_from %>
</p>

<p>
  <b>Offer active until:</b>
  <%= @top_offer.offer_active_until %>
</p>

<p>
  <b>Offer valid from:</b>
  <%= @top_offer.offer_valid_from %>
</p>

<p>
  <b>Offer valid until:</b>
  <%= @top_offer.offer_valid_until %>
</p>

<p>
  <b>Shipping company:</b>
  <%= @top_offer.shipping_company_id %>
</p>


<%= link_to 'Edit', edit_top_offer_path(@top_offer) %> |
<%= link_to 'Back', top_offers_path %>
